@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  color: #272727;
  font-weight: 400;
  line-height: 1.6;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

a,
a:hover {
  text-decoration: none; }

.bg-login {
    background-image: url("../Content/img/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    overflow: auto;
}
  .bg-login .login-area {
    background: rgba(255, 255, 255, 0.8);
    margin: 10px;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.3);
    padding: 1.5rem 1rem 1rem 1rem;
    border-radius: 4px;
    width: 90%; }
    @media (min-width: 767px) {
      .bg-login .login-area {
        width: 350px; } }
    .bg-login .login-area .logo {
      text-align: center; }
      .bg-login .login-area .logo img {
        width: 80px; }
    .bg-login .login-area .form-area {
      margin: 0 auto; }
      @media (min-width: 767px) {
        .bg-login .login-area .form-area {
          width: 90%; } }
      .bg-login .login-area .form-area .form-control {
        height: 40px;
        line-height: 40px;
        font-size: 16px; }
    .bg-login .login-area .forgot-passord {
      margin: 0 auto;
      text-align: center; }
      .bg-login .login-area .forgot-passord a {
        color: #272727;
        font-weight: 400;
        text-align: center; }

#forgotPass h1 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 2rem; }

.header {
  margin-bottom: 10px;
  padding: 20px 0px;
  text-align: center; }
  .header .logo {
    width: 80px; }

.gallery-bg {
    background-image: url("../Content/img/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
}
  .gallery-bg .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1.5rem;
    padding-bottom: 4rem; }
    .gallery-bg .gallery .gallery-item {
      box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
      overflow: hidden;
      position: relative; }
      .gallery-bg .gallery .gallery-item:hover .delete {
        opacity: 1;
        transition: ease-out 0.5s; }
      .gallery-bg .gallery .gallery-item .delete {
        background: rgba(204, 0, 0, 0.6);
        padding: 10px;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 1;
        text-align: center;
        opacity: 0; }
        @media (max-width: 767px) {
          .gallery-bg .gallery .gallery-item .delete {
            opacity: 1; } }
    .gallery-bg .gallery .gallery-image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 400ms ease-out; }
      .gallery-bg .gallery .gallery-image:hover {
        transform: scale(1.15); }

.detial-header {
  background: #272727; }
  .detial-header .nav ul {
    list-style: none;
    margin: 0; }
    .detial-header .nav ul li a {
      font-size: 14px;
      padding: 10px 0;
      display: block;
      color: #a3a3a3; }
      .detial-header .nav ul li a:hover {
        color: #cc0000; }

.detail {
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/bg.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  background-repeat: no-repeat;
  overflow: auto; }
  @media (min-width: 767px) {
    .detail .container {
      width: 600px; } }
  .detail .detail-item {
    margin-bottom: 25px; }
    .detail .detail-item p {
      margin-bottom: 20px;
      margin-top: 20px; }

.video-js .vjs-fullscreen-control {
  display: none; }

.demo-videos .modal-body {
  padding: 0; }
